doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap.min.css')
  body
    block content

    script(src='/lib/jquery.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='//dn-learning-tech.qbox.me/realtimecat/realtimecat-0.2.min.js')
    script(src='/javascripts/text-chat.js')