body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pane {
  margin: 20px;
  text-align: center;
}

.message {
  text-align: left;
}

#messages-container {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #dedede;
  padding: 10px;
  margin-bottom: 2px;
}